<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Net2Ftp FileManager</name>
<version>110</version>
<type>user</type>
<defaultcat>File Management</defaultcat>
<desc>Net2Ftp module allows you to connect to your FTP and manage files on browser.</desc>
<authorname>JD1pinoy</authorname>
<authoremail>jd1pinoy@gmx.ph</authoremail>
<authorurl>http://dossierbox.cu.cc</authorurl>
<updateurl></updateurl>
</module>